<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">My discounts</div>
            <div class="panel-body">
                <discount-list discounts="myDiscounts"/>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">Purchased discounts</div>
            <div class="panel-body">
                <discount-list discounts="boughtDiscounts"/>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
