<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <div class="boxportfolio1">
            <div class="row">
                <div class="col-md-11">
                    <h1 class="smalltitle">
                        <span>
                            My discounts 
                        </span>
                    </h1>
                </div>
                <div class="col-md-1 title-button">
                    <div class="pull-right">
                        <button class="btn btn-default" type="button" ng-click="newDiscount()"><span class="icon-plus"></span></button>
                    </div>
                </div>
            </div>
            <div>
                <div  ng-repeat="row in myDiscounts">
                    <div class="box effect2">
                        <h4  ng-click="editDiscount(row.id)">{{row.discountName}}</h4>
                        <p>{{row.description}}</p>
                        <p><a target="_blank" href="{{row.website}}">{{row.website}}</a></p>
                        <p class="text-center">
                            <span class="pull-left" title="Creation date"><i class="icon-time"></i> {{row.creationDate| date}}</span>
                            <i title="Price" class="icon-money"> {{row.price}}</i> *
                            <i class="icon-unlock" title="Times sold"> {{row.sellTimes}}</i> 
                            <span class="pull-right" title="Expiry date"><i class="icon-remove-sign"></i> {{row.expiryDate| date}}</span>
                        </p>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="boxportfolio1">
            <h1 class="smalltitle">
                <span>Purchased discounts</span>
            </h1>
            <div  ng-repeat="row in boughtDiscounts">
                <div class="box effect2">
                    <h4>{{row.discountName}}</h4>
                    <p>{{row.description}}</p>
                    <h5><strong class="color" title="The CODE"><i class="icon-unlock"></i> {{row.code}}</strong></h5>
                    <p><a href="{{row.website}}">{{row.website}}</a></p>
                    <p>
                        <span class="pull-left" title="Buy date"><i class="icon-time"></i> {{row.buyDate| date}}</span>
                        <span class="pull-right" title="Expiry date"><i class="icon-remove-sign"></i> {{row.expiryDate| date}}</span>
                    </p>
                </div>
                <br>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
