<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">My discounts</div>
            <div class="panel-body">
                <table st-table="discounts" st-safe-src="myDiscounts" class="table table-hover">
                    <thead>
                        <tr>
                            <th st-sort="creationDate" st-sort-default="reverse" class="sorting-header">Date</th>
                            <th st-sort="discountName" class="sorting-header">Discount Name</th>
                            <th st-sort="website" class="sorting-header">Store Web Site</th>
                            <th st-sort="price" class="sorting-header">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in discounts" ng-click="editDiscount(row.id)">
                            <td>{{row.creationDate | date}}</td>
                            <td>{{row.discountName}}</td>
                            <td>{{row.website}}</td>
                            <td>{{row.price}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">Purchased discounts</div>
            <div class="panel-body">
                <table st-table="purchases" st-safe-src="boughtDiscounts" class="table table-hover">
                    <thead>
                        <tr>
                            <th st-sort="creationDate" st-sort-default="reverse" class="sorting-header">Date</th>
                            <th st-sort="discountName" class="sorting-header">Discount Name</th>
                            <th st-sort="website" class="sorting-header">Store Web Site</th>
                            <th st-sort="price" class="sorting-header">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in purchases" ng-click="goToDetails(row.id)">
                            <td>{{row.creationDate | date}}</td>
                            <td>{{row.discountName}}</td>
                            <td>{{row.website}}</td>
                            <td>{{row.price}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
