<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{user.userName}} {{user.ratingPoints}}</h3>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label class="col-sm-2 control-label">Commenter name</label>
                </div>
                <div ng-repeat="comment in user.comments" class="col-sm-8">
                    {{comment.userName}}
                    {{comment.rating}} <br>
                    {{comment.comment}}
                </div>
            </div>
        </div>
    </div>            
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Discounts from {{user.userName}}</h3>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table st-table="discounts" class="table table-hover">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Discount Name</th>
                                <th>Store Web Site</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in discounts" ng-click="buy(row.id)">
                                <td>{{row.creationDate| date}}</td>
                                <td>{{row.discountName}}</td>
                                <td>{{row.website}}</td>
                                <td>{{row.price}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
