`<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="boxportfolio1 text-center">
            <table class="results-table" st-table="discounts" st-pipe="searchDiscounts">
                <tbody>
                    <tr ng-if="discounts.length == 0">
                        <td>
                            <div class="box effect2">
                                <h3>Sorry... No discounts were found for your search.</h3>
                            </div>
                        </td>
                    </tr>      
                    <tr ng-repeat="row in discounts">
                        <td>
                            <div class="box effect2"  ng-click="buy(row.id)">
                                <h4  ng-click="buy(row.id)">{{row.discountName}}</h4>
                                <p>{{row.description}}</p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <a class="pull-left" target="_blank" href="{{row.website}}">{{row.website}}</a>
                                    </div>
                                    <div class="col-md-6">
                                        <user class="pull-right" name="row.userName" id="row.userId"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <span class="pull-left" title="Creation date"><i class="icon-time"></i> {{row.creationDate| date}}</span>
                                    </div>
                                    <div class="col-md-4 text-center">
                                        <i title="Price" class="icon-money"> {{row.price}}</i>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="pull-right" title="Expiry date"><i class="icon-remove-sign"></i> {{row.expiryDate| date}}</span>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </td>

                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td class="text-center" st-pagination="" st-items-by-page="10" colspan="4">
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
