<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <table st-table="discounts" st-pipe="searchDiscounts" class="table table-hover">
            <thead>
                <tr>
                    <th st-sort="creationDate" st-sort-default="reverse" class="sorting-header">Date</th>
                    <th st-sort="discountName" class="sorting-header">Discount Name</th>
                    <th st-sort="website" class="sorting-header">Store Web Site</th>
                    <th st-sort="price" class="sorting-header">Price</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in discounts" ng-click="buy(row.id)">
                    <td>{{row.creationDate| date}}</td>
                    <td>{{row.discountName}}</td>
                    <td>{{row.website}}</td>
                    <td>{{row.price}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td class="text-center" st-pagination="" st-items-by-page="3" colspan="4">
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="col-md-3"></div>
</div>
