<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{title}}</h3>
            </div>

            <div ng-if="errorMessage !== null" class="col-sm-12 alert alert-warning">{{errorMessage}}</div>
            <form name="form" class="form-horizontal">
                <div class="form-group">
                    <label for="discountName" class="col-sm-3 control-label">Name</label>
                    <div class="col-sm-9">
                        <input name="discountName" type="text" class="form-control" id="discountName"  ng-model="discount.discountName" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="discountDescription" class="col-sm-3 control-label">Description</label>
                    <div class="col-sm-9">
                        <textarea name="description" class="form-control" id="discountDescription"  ng-model="discount.description"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="website" class="col-sm-3 control-label">Store URL</label>
                    <div class="col-sm-9">
                        <input name="website" type="url" class="form-control" id="website" ng-model="discount.website" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="tags" class="col-sm-3 control-label">Tags</label>
                    <div class="col-sm-9">
                        <tags-input ng-model="tags"></tags-input>
                    </div>
                </div>
                <div class="form-group">
                    <label for="code" class="col-sm-3 control-label">Code</label>
                    <div class="col-sm-9">
                        <input name="code" type="text" class="form-control" id="code" ng-model="discount.code" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="sellType" class="col-sm-3 control-label">Sell mode</label>
                    <div class="col-sm-9">
                        <div class="btn-group">
                            <label class="btn btn-primary" ng-model="sellType" uib-btn-radio="'multiple'">Multiple Times</label>
                            <label class="btn btn-primary" ng-model="sellType" uib-btn-radio="'single'">One Time</label>
                        </div>
                    </div>
                </div>
                
                
                <div class="form-group">
                    <label for="expiryDate" class="col-sm-3 control-label">Expiry Date</label>
                    <div class="col-sm-9">
                        <input name="expiryDate" type="date" class="form-control" id="expiryDate" ng-model="discount.expiryDate" min="{{ minDate | date:'yyyy-MM-dd'}}" required>
                    </div>
                </div>
                <div class="form-group" >
                    <label for="price" class="col-sm-3 control-label">Price</label>
                    <div class="col-sm-9">
                        <input name="price" type="number" class="form-control" id="price" ng-model="discount.price" min="0" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 col-sm-offset-5">
                        <button type="submit" class="btn btn-default" id="saveDiscount" ng-click="saveDiscount()">{{saveText}}</button>
                    </div>
                </div>  
            </form>
        </div>
    </div>            
    <div class="col-md-3"></div>
</div>

