<section class="intro-note topspace10">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Welcome to ProjectD!!!</h1>
                <p>
                    Highly-professional & modern website template created for you and your business prosperity. <br/>
                    Calypso has all the flexibility and features needed for building a top-notch business website.
                </p>
            </div>
        </div>
    </div>
</section>