<!-- HEADER IMAGE AREA
================================================== -->
<section class="pageheader-default" style="background:url(img/calypso/demo/7.jpg);">
    <div class="bgarea-semitransparent">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="landingpage animated fadeInLeftBig notransition">Great discounts are waititg for you!</h1>
                    <h3 class="landingpage animated fadeInDownBig notransition">Let's start searching right away!</h3>
                    <div class="landingpage animated fadeInUpBig notransition">
                        <search></search>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="http://www.wowthemes.net/demo/calypso/img/demo/desktop3.png" class="img-responsive animated fadeInRightBig notransition" alt="">
                </div>
            </div>
        </div>
    </div> 
</section>