<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Discount Details</h3>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <label class="control-label">Discount Name</label>
                </div>
                <div class="col-sm-7">
                    {{discount.discountName}}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <label class="control-label">Date</label>
                </div>
                <div class="col-sm-7">
                    {{discount.creationDate | date}}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <label class="control-label">Discount Description</label>
                </div>
                <div class="col-sm-7">
                    {{discount.description}}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <label class="control-label">Store URL</label>
                </div>
                <div class="col-sm-7">
                    {{discount.website}}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <label class="control-label">Store URL</label>
                </div>
                <div class="col-sm-7">
                    <tags-input ng-model="tags" disabled="true" placeholder="."></tags-input>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-5">
                    <label class="control-label">Creator</label>
                </div>
                <div class="col-sm-7">
                    <user name="discount.userName" id="discount.userId"/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <label class="control-label">Expiry Date</label>
                </div>
                <div class="col-sm-7">
                    {{discount.expiryDate | date}}
                </div>
            </div>
            <div class="row" ng-if="discount.type=='OWNED' || discount.type=='SELL'">
                <div class="col-sm-5">
                    <label class="control-label">Price</label>
                </div>
                <div class="col-sm-7">
                    {{discount.price}}                        
                </div>
            </div>
            <div class="row" ng-if="discount.type=='BOUGHT'">
                <div class="col-sm-5">
                    <label class="control-label">Code</label>
                </div>
                <div class="col-sm-7">
                    {{discount.code}}
                </div>
            </div>
            <div class="row" ng-if="discount.type == 'SELL'">
                <div class="col-sm-offset-4 col-sm-12">
                    <button type="button" class="btn btn-default" id="buyDiscountButton" data-toggle="modal" data-target="#buyModal">Buy!</button>
                </div>
            </div>
        </div>
    </div>            
    <div class="col-md-3"></div>
</div>
<div id="buyModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Do you want to buy?</h4>
            </div>
            <div class="modal-body">

                <div>Are you sure you want to buy "{{discount.discountName}}" from {{discount.userName}}?</div>
                <div>The price is: {{discount.price}}</div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-ng-click="buyDiscount()" data-dismiss="modal">Buy</button>
            </div>
        </div>
    </div>
</div>
