<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Discount Details</h3>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label class="col-sm-2 control-label">Discount Name</label>
                </div>
                <div class="col-sm-8">
                    {{discount.discountName}}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label class="col-sm-2 control-label">Store Web Site</label>
                </div>
                <div class="col-sm-8">
                    {{discount.website}}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label class="col-sm-2 control-label">Price</label>
                </div>
                <div class="col-sm-8">
                    {{discount.price}}                        
                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-4 col-sm-12">
                    <button type="submit" class="btn btn-default" id="saveDiscount" ng-click="buy()">Buy!</button>
                </div>
            </div>
        </div>
    </div>            
    <div class="col-md-3"></div>
</div>

