<nav class="navbar navbar-fixed-top wowmenu" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand logo-nav" ui-sref="home"><img src="img/calypso/logo.png" alt="logo"></a>
        </div>
        <ul id="nav" class="nav navbar-nav pull-right">
            <li class="active">
                <a ui-sref="app.home">Home</a>
            </li>
            <li>
                <a ng-if="!sessionStorage.authToken" ui-sref="app.login">Log in</a>
            </li>
            <li>
                <a ng-if="sessionStorage.authToken" ui-sref="app.viewMyDiscounts">My Discounts</a>
            </li>
            <li>
                <a ng-if="sessionStorage.authToken" ui-sref="app.newDiscount">Add New Discount</a>
            </li>
            <li>
                <a ng-if="sessionStorage.authToken" ui-sref="app.userProfile">Profile</a>
            </li>
            <li>
                <a ng-if="sessionStorage.authToken" ng-click="logout()">Log out</a>
            </li>
            <li>
                <a ng-if="!sessionStorage.authToken" ui-sref="app.registerUser">Sign up</a>
            </li>
        </ul>		
    </div>	
</nav>