<nav class="navbar navbar-fixed-top wowmenu tiny" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <span><a class="navbar-brand logo-nav" ui-sref="home"><img src="img/calypso/logo.png" alt="logo"></a></span>
            
        </div>
        <ul id="nav" class="nav navbar-nav pull-right">
            <li ng-class="{'active' : state.current.name == 'app.home'}">
                <a ui-sref="app.home">Home</a>
            </li>
            <li ng-class="{'active' : state.current.name == 'app.login'}">
                <a ng-if="!sessionStorage.authToken" ui-sref="app.login">Log in</a>
            </li>
            <li ng-class="{'active' : state.current.name == 'app.viewMyDiscounts'}">
                <a ng-if="sessionStorage.authToken" ui-sref="app.viewMyDiscounts">My Discounts</a>
            </li>
            <li ng-class="{'active' : state.current.name == 'app.newDiscount'}">
                <a ng-if="sessionStorage.authToken" ui-sref="app.newDiscount">Add New Discount</a>
            </li>
            <li ng-class="{'active' : state.current.name == 'app.userProfile'}">
                <a ng-if="sessionStorage.authToken" ui-sref="app.userProfile">Profile</a>
            </li>
            <li>
                <a ng-if="sessionStorage.authToken" ng-click="logout()">Log out</a>
            </li>
            <li  ng-class="{'active' : state.current.name == 'app.registerUser'}">
                <a ng-if="!sessionStorage.authToken" ui-sref="app.registerUser">Sign up</a>
            </li>
        </ul>	
    </div>	
</nav>